* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.menu-btn {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* border: 2px solid white; */
    padding: 0;
}

.fa-bars {
    color: white;
    transition: all .15s ease-in-out;
}

.fa-arrow-right-long {
    color: #ffd200;
    transition: all .1s ease-in-out;
}

.fa-bars:hover {
    color: #f40082;
}

i.fa-solid.rotate-half {
    transform: rotate(-90deg);
}

i.fa-solid.rotate-full {
    transform: rotate(-180deg);
}

