

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.menu-btn {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* border: 2px solid white; */
    padding: 0;
}

.menu-burger {
    width: 50px;
    height: 5px;
    background-color: white;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.menu-burger::before, .menu-burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: white;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.menu-burger::before {
    transform: translateY(-16px);
}

.menu-burger::after{
    transform: translateY(16px);
}

.menu-btn.open .menu-burger {
    /* transform: translateX(50px); */
    width: 60px;
    box-shadow: none;
    background-color: #ffd200;
}

.menu-btn.open .menu-burger::before {
    transform: rotate(-45deg) translate(3px, -11px);
    width: 30px;
    background-color: #ffd200;
}

.menu-btn.open .menu-burger::after {
    transform: rotate(45deg) translate(3px, 11px);
    width: 30px;
    background-color: #ffd200;
}

.menu-btn.open .menu-burger,
.menu-btn.open .menu-burger::before,
.menu-btn.open .menu-burger::before {
    background-color: #ffd200;
}

.menu-btn:hover .menu-burger,
.menu-btn:hover .menu-burger::before,
.menu-btn:hover .menu-burger::after
{
    background-color:  #f40082;
}